*{
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    flex:1 1 0;
}

/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 125px;
    max-height: 125px;
    background-color:#df3c2d;
    padding: 0px 40px;
}

.title{
    color:#9dbeb7;
    font-size: 48px;
}

.logo{
    height: 100px;
    width:auto;
}

/* Content */
.content{
    display: flex;
    flex-direction: column;
    flex:1 1 0;
    background-color: #9dbeb7;

}
.grid{
    display: grid;
    flex: 1 1 0;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    grid-auto-rows:250px;
    gap:30px;
    margin:0px 20px;

}
.card{
    background-color: #f1eee7;
    border-radius:10px;
    justify-content: center;

    align-items:center;
    display:grid;
    grid-template-rows: repeat(3,48px) 94px;
    font-size:20px;
    border:solid;
}
.buttons{
    display: grid;
    justify-content: center;
    gap:8px;
}
.bookDisplay{
    font-weight:bold;
    font-size:24px;


}
.bookDisplay, .authorDisplay, .pageDisplay{
    text-align: center;
}
.readingStatusButton, .remove{
    width:200px;
    padding:10px 34px;
    border-radius: 8px;
    border:solid;
    border-width: 2.5px;
    font-size:16px;
}

.remove:hover{
    background-color:#db6358;  
}

.add{
    display: flex;
    justify-content: center;
}
.addButton{
    border-radius:8px;
    font-size:24px;
    font-weight: 600;
    border:none;
    background-color: #9dbeb7;
    padding: 15px 15px;
    margin:10px 0;
}
.addButton:hover{
    filter:brightness(90%);
}

.popup{
    display:none;
}
.popup form{
    padding: 10px;
    border:solid;
    background-color:#9dbeb7;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap:10px;
    width:350px;
    border-radius:8px;
}

input{
    outline:none;
    border:none;
    height:30px;
    border-radius:8px;
}
.titleRow{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:0;
}
.exit{
    align-items: center;
    padding:3px 6px;
    margin:0px;
    border:none;
    border-radius: 4px;
}
.readingStatus{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}
.submit{
    display: grid;
    justify-content: center;
}
.submitButton{
    width:100px;
    height:30px;
    border-radius: 8px;
    border:none;
}
.submitButton:hover, .exit:hover{
    filter:brightness(90%);
}